.fullWidth {
	width: 100%;
	margin: auto;
	max-width: initial;
}

.top-bar {
	background: transparent;
	z-index: 100;
	position: fixed;
}

.top-bar .logo {
	height: 60px;
	margin: 20px;
}

.slide {
	position: relative;
}

.slide .roww {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(30, 30, 30, 0.3);
}

.slide .roww h1 {
	color: white;
	font-size: 62px;
	letter-spacing: -5px;
}

.slide .roww h1 span {
	font-size: 74px;
	text-transform: uppercase;
}

.slide .roww p {
	background-color: rgba(205, 0, 0, 0.7);
	border-radius: 20px;
	text-shadow: none;
}
