<div class="row">
	<div class="title">Please Take Picture Of Customer</div>
	<div class="main-content">
		<div class="row">
			<div class="columns small-12 text-center">
				<img id="preview" alt="Image Preview">
			</div>
		</div>
		<div class="row">
			<div class="columns small-12 text-center">
				<button class="file-upload">
					<input class="picture-upload" type="file" accept="image/*" capture="camera">
					Take Picture
				</button>
			</div>
		</div>
	</div>
	<div class="actions">
		<a class="button next">Next</a>
		<a class="button secondary previous">&#10094;</a>
	</div>
</div>