<div class="top">
	<div class="text-center actions">
		<a href="#" class="button secondary-dark back-to-shopping">
			<i class="fi-arrow-left"></i>
			Continue Shopping
		</a>
		<a href="#" class="button go-to-checkout disabled">
			Checkout
			<i class="fi-arrow-right"></i>
		</a>
	</div>

	<div class="products"></div>
</div>

<div class="footer">
	<div class="title-area">
		<h6 class="title">Order Summary</h6>
		<h6 class="num-products subheader"><%= number %> Items</h6>
	</div>
	<div class="divider"></div>
	<div class="totals">
		<div class="clearfix total">
			<span class="float-left">Subtotal</span>
			<span class="float-right subtotal">$<%= subtotal() %></span>
		</div>
		<div class="clearfix total">
			<span class="float-left">Tax</span>
			<span class="float-right tax">$<%= tax() %></span>
		</div>
		<div class="clearfix total">
			<span class="float-left">Delivery Fee</span>
			<span class="float-right delivery-fee">$<%= deliveryFee() %></span>
		</div>
		<div class="clearfix total">
			<div class="total-amount-charged">
				<div class="divider float-right clearfix">
					<span class="float-left title">Total</span>
					<span class="float-right total-amount title">$<%= total() %></span>
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="button go-to-checkout disabled expanded">
		Checkout
		<i class="fi-arrow-right">
	</a>
</div>
