.cart-sidebar {
	.actions {
		.button {
			width: 50%;
			margin: 0;
			// keep buttons exactly 50%;
			padding: 1rem 0 1.0625rem 0;
			font-size: 0.8rem;

			i {
				padding: 0.5rem;
			}
		}
	}

	.top {
		height: 70%;

		.products {
			height: calc(100% - 2.8625rem); // account for height of buttons
			overflow: auto;
		}
	}

	.footer {
		height: 30%;
		background-color: $vapor;
		padding: 0 1rem;

		.num-products {
			text-align: center;
			padding: 0.5rem 0;
		}

		.totals {
			text-transform: uppercase;
			font-size: 14px;

			.total {
				padding: 0.25rem;
			}
		}
	}

	.go-to-checkout {
		width: calc(100% - 6rem);
		margin-top: 1rem;
		margin-left: 1rem;
	}
}

.cart-product {
	padding: 0.5rem;
	border-bottom: 1px dotted $dark-text-color;

	.details {
		padding: 0 1rem;

		.name, .contains {
			text-transform: uppercase;
		}

		.contains {
			font-size: rem-calc(12px);
		}

		p {
			margin-bottom: .1rem;
			font-size: 0.8rem;
		}
	}

	.remove {
		position: absolute;
		top: 0;
		right: 0.5rem;
	}
}