vendor/
node_modules/
css/
sass/.sass-cache/
vendors/sass/.sass-cache/
.idea/
local/
tests/frontend/integration/images/
composer.lock
composer.phar
passwords.secret
config.codekit
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
storage/
composer-setup.php
clover.xml
