.top-bar {
	height: $headerHeight;
	background-color: white;

	.title-area {
		.logo {
			height: 50px;
			margin: 10px;
		}

		span {
			text-transform: uppercase;
			color: $dark-text-color;
			font-size: .75rem;
		}
	}



	.top-bar-section {
		ul {
			line-height: $headerHeight;

			li {
				background: transparent;
				cursor: pointer;
				font-size: 13px;
				text-transform: uppercase;
				margin-right: 1rem;
			}
		}

		a {
			margin-top: .5rem;
			margin-right: 1rem;
		}
	}
}
