<div class="carousel">
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Submit Your Location</h1>
			<p class="text-center">Aqua Vitae will display all the alcohol available in your area.</p>
		</div>
		<img src="img/submit-your-location-slide.jpg" />
	</div>
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Checkout Your Items</h1>
			<p class="text-center">Select your alcohol, select your payment method and you’re done!</p>
		</div>
		<img src="img/keyboard.jpg" />
	</div>
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Your Alcohol <span>Delivered!</span></h1>
			<p class="text-center">Our drivers bring you alcohol, but our company buys you time.</p>
		</div>
		<img src="img/bottles.jpg" />
	</div>
</div>
<div class="sections">
	<div class="row section fullWidth text-center customers">
		<h2 class="title">Customers</h2>
	</div>
	<!--
	<div class="row section fullWidth text-center restaurants">
		<h2>Restaurant Or Bar</h2>
	</div>
	-->
	<div class="section fullWidth text-center retailers">
		<h2 class="title">Alcohol Retailers</h2>
		<h5 class="subheader">Why work with us?</h2>
		<div class="row">
			<div class="column small-12 medium-4">
				<i class="fi-universal-access"></i>
				<h4>Accessibility</h4>
				<p>Customers can reach you from the comfort of their home at any time of the day.  You’ll capture their sale as soon as it piques their interest.</p>
			</div>
			<div class="column small-12 medium-4">
				<i class="fi-graph-trend"></i>
				<h4>Greater Audience</h4>
				<p>We can reach infinitely more people than a brick and mortar store.  Many sales will be to new customers outside the standard sales radius.</p>
			</div>
			<div class="column small-12 medium-4">
				<i class="fi-dollar"></i>
				<h4>Profits</h4>
				<p>New customers + more impulsive purchases = increased profits.</p>
			</div>
		</div>
	</div>

	<div class="row section fullWidth text-center contact-us">
		email section here
	</div>
</div>
