<div class="carousel">
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Submit Your Location</h1>
			<p class="text-center">Aqua Vitae will display all the alcohol available in your area.</p>
		</div>
		<img src="img/keyboard.jpg" />
	</div>
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Checkout Your Items</h1>
			<p class="text-center">Select your alcohol, select your payment method and you’re done!</p>
		</div>
		<img src="img/keyboard.jpg" />
	</div>
	<div class="slide">
		<div class="roww">
			<h1 class="text-center">Your Alcohol <span>Delivered!</span></h1>
			<p class="text-center">Our drivers bring you alcohol, but our company buys you time.</p>
		</div>
		<img src="img/bottles.jpg" />
	</div>
</div>
<div class="row section fullWidth text-center customers">
	<h2>Customers</h2>
</div>
<!--
<div class="row section fullWidth text-center restaurants">
	<h2>Restaurant Or Bar</h2>
</div>
-->
<div class="row section fullWidth text-center retailers">
	<h2>Alcohol Retailer</h2>
</div>
