<div class="sections">
	<div class="section fullWidth text-center begin">
		<h2 class="title">Your Alcohol, Delivered</h2>
		<div class="columns small-9 medium-6 small-centered">
			<form>
				<div class="row collapse">
					<div class="small-12 medium-7 columns">
						<input class="street-address" type="text" placeholder="Street Address"/>
					</div>
					<div class="small-12 medium-3 columns">
						<input class="zipcode" type="text" placeholder="Zip Code"/>
					</div>
					<div class="small-12 medium-2 columns">
						<a href="#" class="submit-address button postfix round">Go</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="section fullWidth text-center customers">
		<span class="triangle"></span>

		<h2 class="title">Relax, Drink, and Enjoy in the comfort of your own home for the same price. </h2>

		<div class="row">
			<div class="column small-12 medium-4">
				<i class="fi-map"></i>
				<h4>Your Alcohol Delivered</h4>

				<p>Aqua Vitae <em>Express</em> will deliver your alcohol straight to your door with low delivery fees
					and no minimum order requirement. Just order online or via our mobile app.</p>
			</div>
			<div class="column small-12 medium-4">
				<i class="fi-prohibited"></i>
				<h4>No Delivery Fees</h4>

				<p>Join our Free Membership for <strong>free deliveries</strong> on all orders. Prepay for your favorite
					alcohol to be delivered periodically, on a time frame of your choice. </p>
			</div>
			<div class="column small-12 medium-4">
				<i class="fi-shopping-cart"></i>
				<h4>Save Money and Explore</h4>

				<p>Never again will you ask ‘what should we get?’ Aqua Vitae will learn your habits and show you what
					you’ll like. Enjoy and explore new drinks like never before with refreshing deals and specials.</p>
			</div>
		</div>
	</div>
	<!--
	<div class="row section fullWidth text-center restaurants">
		<h2>Restaurant Or Bar</h2>
	</div>
	-->
	<div class="section fullWidth text-center retailers">
		<span class="triangle"></span>

		<h2 class="title">Alcohol Retailers</h2>
		<h5 class="subheader">Why work with us?</h2>
			<div class="row">
				<div class="column small-12 medium-4">
					<i class="fi-universal-access"></i>
					<h4>Accessibility</h4>

					<p>Customers can reach you from the comfort of their home at any time of the day. You’ll capture
						their sale as soon as it piques their interest.</p>
				</div>
				<div class="column small-12 medium-4">
					<i class="fi-graph-trend"></i>
					<h4>Greater Audience</h4>

					<p>We can reach infinitely more people than a brick and mortar store. Many sales will be to new
						customers outside the standard sales radius.</p>
				</div>
				<div class="column small-12 medium-4">
					<i class="fi-dollar"></i>
					<h4>Profits</h4>

					<p>New customers + more impulsive purchases = increased profits.</p>
				</div>
			</div>
	</div>

	<div class="row fullWidth text-center contact-us">
		<h2>Contact Us</h2>

		<div class="columns small-9 small-centered">
			<form>
				<div data-alert class="alert-box success radius">
					Message sent successfully. We'll be in touch soon!
					<a href="" class="close">&times;</a>
				</div>
				<div data-alert class="alert-box error radius">
					Something went wrong :( Please contact us another way.
					<a href="" class="close">&times;</a>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input class="email-address" type="text" placeholder="Email Address"/>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
			        	<textarea class="email-message" placeholder="Message">
						</textarea>
					</div>
				</div>
				<a href="#" class="button round send-email">Send</a>
			</form>
		</div>
	</div>
</div>
