<div class="row">
    <div class="title">Uh oh!</div>
    <div class="main-content">
        <div class="row">
            Unfortunately your address is outside all of our current delivery zones. Want to stay up to date with AV? We will let you know when we expand to new cities!
        </div>
        <form class="panel">
            <div class="row">
                <div class="small-12 columns">
                    <label>Name
                        <input type="text" placeholder="John Doe" model_attribute="name" />
                    </label>
                </div>
                <div class="small-12 columns">
                    <label>email
                        <input type="text" placeholder="hello@domain.com" model_attribute="email" />
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <a class="button save">Sign me up!</a>
    </div>
</div>