<div class="alert-area"></div>
<div class="sections columns small-12">
	<div class="row expanded screen first text-center begin">
		<div class="content">
			<div class="columns small-12 medium-3">
				<img class="logo" src="img/logo.png" />
			</div>
			<div class="columns small-12 medium-9 right">

				<div class="info">
					<h1>
						<span class="top">Your Alcohol</span>
						<span class="bottom"><i>Delivered</i></span>
					</h1>
					<h2>Aqua Vitae will do it for you</h2>
					<a class="button large order-now">Order Now</a>
				</div>

				<div class="address-form">
					<h2>Not so fast, we need to know where you need your alcohol!</h2>
					<form>
						<div class="input-group row collapse">
							<div class="columns small-12 medium-8">
								<input class="street-address" type="text" placeholder="Street Address"/>
							</div>
							<div class="columns small-12 medium-3">
								<input class="apartment" type="text" placeholder="Apt #"/>
							</div>
							<div class="columns small-12 medium-1">
								<div class="input-group-button">
									<input type="submit" class="submit-address button expanded" value="Go" />
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>