<div class="alert-area"></div>
<div class="sections">
	<div class="section fullWidth text-center begin">
		<h2 class="title">Your Alcohol, Delivered</h2>
		<div class="columns small-9 medium-6 small-centered">
			<form>
				<div class="row">
					<div class="row collapse postfix-round">
						<div class="small-9 columns">
							<input class="street-address" type="text" placeholder="Street Address"/>
						</div>
						<div class="small-3 columns">
							<a href="#" class="submit-address button postfix">Go</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>