.sidebar {
	background-color: $dark-text-color;
	text-align: center;
	height: 100%;

	.icon {
		padding: 1rem;
		transition: 0.3s;

		i {
			color: $light-text-color;
			font-size: rem-calc(48px);
		}

		p {
			color: $light-text-color;
			margin-bottom: 0;
		}

		span.coming-soon {
			background-color: white;
			color: $dark-text-color;
			font-size: rem-calc(8px);
		}

		&:hover {
			cursor: pointer;
			background-color: lighten($dark-text-color, 5%);
		}

		&.active {
			background-color: $light-text-color;
			border-left: 5px solid $red;
			i, p {
				color: $dark-text-color;
			}
		}
	}
}

@media #{$small-only} {
	.icon {
		display: inline-block;

		&.active {
			background-color: $light-text-color;
			border-top: 5px solid $red;
			border-left: none !important;
		}
	}
}