// global includes
@import 'variables';
@import 'settings.scss';

@import '../../vendor/foundation-sites/scss/foundation';
@include foundation-everything; // temp. probably ok if we use uncss

@import '../../vendor/foundation-icon-fonts/_foundation-icons';
@import 'components/nprogress';
@import 'components/modal';
@import 'components/doorbell.scss';
@import 'components/footer';
@import 'components/header';
@import 'utils';

.off-canvas {
	height: 100%;
}

.row .row {
	max-width: $global-width;
}

.row.expanded {
	max-width: none !important;
}
