/*
|--------------------------------------------------------------------------
| mixins
|--------------------------------------------------------------------------
|
| i like them.
|
*/
@mixin screen {
	//@include grid-col;
	//@include grid-row;
	padding-top: 5rem;
	padding-bottom: 5rem;
	overflow: hidden;

	.content {
		max-width: $grid-row-width;
		margin: auto;
		height: 100%;
	}
}

/*
|--------------------------------------------------------------------------
| util classes
|--------------------------------------------------------------------------
|
| dope context
|
*/
.screen {
	@include screen;
	min-height: 100vh;
}

.screen.first {
	@include screen;
	min-height: calc(100vh - #{$headerHeight});
}

.stick {
	position: fixed;
	top: 0;
	z-index: 1000000;
	border-bottom: 2px solid $red;
}
