$fi-path: "../../vendor/foundation-icon-fonts" !default;
$light-text-color: #ddd;
$dark-text-color: black;
$header-color: $dark-text-color;
$secondary-dark-button-color: $dark-text-color;
$red: #ee4137;
$yellow: gold;
$headerHeight: 53px; // todo: recalc
$arrowSize: 20px;
$productPadding: 2rem;
$footerHeight: 214px; // todo: recalc hard coded for use in main.scss.. should find a better way