.cart-sidebar {
	.actions {
		.button {
			width: 50%;
			margin: 0;
			// keep buttons exactly 50%;
			padding: 1rem 0 1.0625rem 0;
			font-size: 0.8rem;
		}
	}

	.cart-product {
		padding: 0.5rem;

		img {
			padding: 1rem;
			width: 80px;
		}

		.details {
			padding: 0 1rem;

			.name, .contains {
				text-transform: uppercase;
			}

			.contains {
				font-size: rem-calc(12px);
			}

			p {
				margin-bottom: .1rem;
			}
		}

		.remove {
			position: absolute;
			top: 0;
			right: 0.5rem;
		}
	}

	.divider {
		margin: auto;
		border-bottom: 1px solid $gainsboro;
		width: 75%;
	}
}