<div class="shout row">
	<p class="text-center"><%= blastMessage %></p>
</div>
<div class="row" data-equalizer="outer-content-equalizer">
	<div id="sidebar" class="small-3 columns" data-equalizer-watch="outer-content-equalizer"></div>
	<div id="content" class="small-9 columns" data-equalizer-watch="outer-content-equalizer">
		<h3 class="page-title"><%= page %> Products</h3>
		<div id="products"></div>
	</div>
</div>
<a href="#" id="cart" class="button">
	<i class="fi-shopping-cart">
		<%= numProducts() %>
	</i>
</a>
