<div class="row fullWidth off-canvas-wrap collapse" data-offcanvas>
	<main class="inner-wrap small-12 columns">
		<!--<a class="right-off-canvas-toggle" href="#"> Toggle Right</a>-->

		<aside class="right-off-canvas-menu">
		</aside>
		<div id="all-wrapper">
			<div id="main-wrapper">
				<div class="modal-region"></div>
				<header></header>
				<div id="main" class="row"></div>
			</div>

			<footer>
				<div class="row">
					<div class="column small-12 clearfix">
						<table>
							<tr>
								<td id="left">
									<img class="logo" src="/public/img/white-logo.png" />
						<span class="company-tagline">
							<h3>State College Alcohol Delivery</h3>
							<p>Aqua Vitae: The Water Of Life</p>
						</span>
								</td>

								<td id="right">
									<p>Built with &#9825; in State College, PA.</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</footer>

			<a class="exit-off-canvas"></a>
		</div>
	</main>
</div>