<div class="row expanded off-canvas-wrapper collapse">
	<main class="off-canvas-wrapper-inner small-12 columns" data-off-canvas-wrapper>
		<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right"></div>
		<div id="all-wrapper" class="off-canvas-content" data-off-canvas-content>
			<div id="main-wrapper">
				<div class="modal-region">
					<div class="modal">
						<div class="row">
							<div class="content columns small-10, medium-6 small-centered">
								<a class="close">&#10006;</a>
								<div class="modal-mount-point"></div>
							</div>
							<div class="background"></div>
						</div>
					</div>
				</div>
				<header></header>
				<div id="main" class="class row expanded"></div>
			</div>

			<footer>
			</footer>
		</div>
	</main>
</div>