<fieldset>
	<legend>Delivery Information</legend>

	<div class="row">
		<div class="columns small-6">
			<label>First Name
				<input type="text" placeholder="First Name" value="<%= first() %>"/>
			</label>
		</div>
		<div class="columns small-6">
			<label>Last Name
				<input type="text" placeholder="Last Name" value="<%= last() %>"/>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			<label>Street
				<input type="text" placeholder="Street" value="<%= street() %>" />
			</label>
		</div>
		<div class="columns small-6">
			<label>City
				<input type="text" placeholder="City" value="<%= city() %>" />
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			<label>State
				<input type="text" placeholder="State" value="<%= state() %>" />
			</label>
		</div>
		<div class="columns small-6">
			<label>Zipcode
				<input type="text" placeholder="Zipcode" value="<%= zipcode() %>" />
			</label>
		</div>
	</div>
</fieldset>