<fieldset>
	<legend>Billing Information</legend>

	<div class="row">
		<div class="columns small-6">
			<label>First Name
				<input type="text" placeholder="First Name" />
			</label>
		</div>
		<div class="columns small-6">
			<label>Last Name
				<input type="text" placeholder="Last Name" />
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			<label>Credit Card Number
				<input type="text" placeholder="Credit Card Number" />
			</label>
		</div>
		<div class="columns small-6">
			<label>Expiration Date
				<input type="text" placeholder="Expiration Date" />
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			<label>CCV
				<input type="text" placeholder="CCV" />
			</label>
		</div>
		<div class="columns small-6">
			<label>Billing Zipcode
				<input type="text" placeholder="Billing Zipcode" />
			</label>
		</div>
	</div>
</fieldset>