<div class="row fullWidth off-canvas-wrap" data-offcanvas>
	<main class="inner-wrap small-12 columns">
		<!--<a class="right-off-canvas-toggle" href="#"> Toggle Right</a>-->

		<aside class="right-off-canvas-menu">
		</aside>
		<div id="all-wrapper">
			<div id="main-wrapper">
				<div class="modal-region"></div>
				<header></header>
				<div id="main" class="row"></div>
			</div>

			<footer class="row">
				&copy; Aqua Vitae 2015
			</footer>

			<a class="exit-off-canvas"></a>
		</div>
	</main>
</div>