<header class="row"></header>
<div id="main"></div>
<footer>
	<!--
	<div class="row">
		<div class="column small-12 clearfix">
			<span class="left">
				<img class="logo" src="/img/white-logo.png" width="100px" />
				<span class="company-tagline">
					<h3>State College Alcohol Delivery</h3>
					<p>Aqua Vitae: The Water Of Life</p>
				</span>
			</span>

			<span class="right">Made with &#9825; in State College, PA.</span>
		</div>
	</div>
	-->

	<div class="row">
		<div class="column small-12 clearfix">
			<table>
				<tr>
					<td id="left">
						<img class="logo" src="/img/white-logo.png" />
						<span class="company-tagline">
							<h3>State College Alcohol Delivery</h3>
							<p>Aqua Vitae: The Water Of Life</p>
						</span>
					</td>

					<td id="right">
						<p>Built with &#9825; in State College, PA.</p>
					</td>
				</tr>
			</table>
		</div>
	</div>
</footer>
