.collect-customer-info {
	#signature-box {
		margin: 1rem 0;
		background-color: $light-text-color;
	}

	#signature-actions {
		padding-top: 1rem;
	}

	.actions {
		.secondary {
			padding: 1rem;
		}
	}

	#preview {
		display: none;
		padding: 1rem;
	}

	.file-upload {
		position: relative;
		overflow: hidden;

		input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0;
			font-size: 1rem;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
}