.status-area {
	width: 100%;

	a.status {
		padding: 0.5rem 2rem;

		&.active {
			background-color: transparent;
			color: $red;
			border: 2px solid $red;
		}

		&.disabled {
			opacity: 0.5;

			&:hover {
				cursor: default;
			}
		}

		i, span {
			vertical-align: middle;
		}

		i {
			padding-right: rem-calc(10);
			font-size: rem-calc(36);
		}
	}
}