.product {
	background-color: white;
	list-style: none;
	border: 1px solid $light-gray;
	position: relative; // so that the button can be absolutely positioned to the bottom of the container

	&.in-cart {
		border-color: red;
	}

	.container {
		padding: $productPadding;

		img {
			margin-bottom: 2rem;
		}

		.details {
			margin-bottom: 2rem;

			.name {
				text-transform: uppercase;
				font-weight: bolder;
			}

			.contains {
				font-size: 12px;
			}
		}

		.button {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: $productPadding;
		}
	}
}