<h1>Checkout</h1>
<div class="items"></div>
<div class="status-area">
	<a class="status disabled">
		<i class="fi-torso" />
		Customer Info
		<i class="fi-check hide" />
	</a>
	<a class="status disabled">
		<i class="fi-home" />
		Address Info
		<i class="fi-check hide" />
	</a>
	<a class="status disabled">
		<i class="fi-credit-card" />
		Billing Info
		<i class="fi-check hide" />
	</a>
</div>
<div class="active"></div>
<textarea class="note" placeholder="Additional notes for apartment number, etc"></textarea>
<button class="button order disabled">SUBMIT ORDER</button>