<h1>Checkout</h1>
<div class="status-area row">
	<div class="columns large-3 text-center">
		<a class="button round status disabled">
			<i class="fi-torso" />
			<span>Customer Info</span>
		</a>
	</div>

	<div class="columns large-3 text-center ">
		<a class="button round status disabled">
			<i class="fi-home" />
			<span>Address Info</span>
		</a>
	</div>

	<div class="columns large-3 text-center">
		<a class="button round status disabled">
			<i class="fi-credit-card" />
			<span>Billing Info</span>
		</a>
	</div>

	<div class="columns large-3 text-center">
		<a class="button round status disabled">
			<i class="fi-torso" />
			<span>Review</span>
		</a>
	</div>

</div>
<div class="current"></div>