<fieldset>
	<legend>Customer Information</legend>

	<div class="row">
		<div class="columns small-6">
			<label>First Name
				<input name="first" model_attribute="first_name" type="text" placeholder="First Name" value="<%= first() %>"/>
			</label>
		</div>
		<div class="columns small-6">
			<label>Last Name
				<input name="last" model_attribute="last_name" type="text" placeholder="Last Name" value="<%= last() %>"/>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-6">
			<label>Phone Number
				<input name="phone" class="phone" model_attribute="phone_number" type="text" placeholder="Phone Number" value="<%= phone() %>"/>
			</label>
		</div>
		<div class="columns small-6">
			<label>Email Address
				<input name="email" model_attribute="email" type="text" placeholder="Email Address" value="<%= email() %>"/>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-12">
			<a href="#" class="button save">Continue to Address Information</a>
		</div>
	</div>
</fieldset>