<fieldset>
	<h5>Delivery Information</h5>
	<div class="row">
		<div class="columns small-12">
			<p><small>Did you enter the wrong address earlier? Let's see what we can do to fix things up. <a class="change-address">Change My Address</a></small></p>

		</div>
	</div>

	<div class="row">
		<div class="columns medium-9">
			<label>Street
				<input disabled model_attribute="street" type="text" placeholder="Street" value="<%= street() %>" />
			</label>
		</div>

		<div class="columns medium-3">
			<label>Apt. #
				<input model_attribute="apartment_number" type="text" placeholder="Apt #" value="<%= apartmentNumber() %>" />
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns medium-6">
			<label>City
				<input disabled model_attribute="city" type="text" placeholder="City" value="<%= city() %>" />
			</label>
		</div>

		<div class="columns medium-3">
			<label>State
				<input disabled model_attribute="state" type="text" placeholder="State" value="<%= state() %>" />
			</label>
		</div>

		<div class="columns medium-3">
			<label>Zipcode
				<input disabled model_attribute="zipcode" type="text" placeholder="Zipcode" value="<%= zipcode() %>" />
			</label>
		</div>
	</div>

	<div class="row">
		<div class="columns small-12 clearfix actions">
			<a href="#" class="button save float-right">Save Delivery Information</a>
			<a class="button back secondary float-right">Back</a>
		</div>
	</div>
</fieldset>