<div class="row">
	<div class="columns small-12 header">
		<div class="title">Change Your Address</div>
	</div>
	<div class="columns small-12">
		<div class="main-content">
			<div class="alert-area"></div>
			<form class="address-form">
				<div class="input-group row collapse">
					<div class="columns small-12 medium-9">
						<input class="street-address" type="text" placeholder="Street Address"/>
					</div>
					<div class="columns small-12 medium-3">
						<input class="apartment" type="text" placeholder="Apt #"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="columns small-12">
		<div class="actions">
			<a class="button submit disabled save">Save</a>
		</div>
	</div>
</div>