<h1>Checkout</h1>

<div class="row">
	<div class="checkout-wrapper columns small-12 medium-9 medium-centered">
		<div class="error-area">

		</div>
		<div class="status-area row collapse">
			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-torso" />
					<span>Customer Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center ">
				<a class="status disabled">
					<i class="fi-home" />
					<span>Address Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-credit-card" />
					<span>Billing Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-torso" />
					<span>Review</span>
				</a>
			</div>
		</div>
		<div class="current"></div>
	</div>
</div>

<div class="row collapse">
	<div class="columns small-12 medium-9 medium-centered">
		<div class="callout">
			<small>
				<span class="">Not ready to checkout yet? No problem! Lets get you some more brews.</span>
				<a class="tiny button secondary continue-shopping">Continue Shopping</a>
			</small>
		</div>
	</div>
</div>