<h1>Checkout</h1>
<div class="row">
	<div class="checkout-wrapper columns small-12 medium-9 medium-centered ">
		<div class="status-area row collapse">
			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-torso" />
					<span>Customer Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center ">
				<a class="status disabled">
					<i class="fi-home" />
					<span>Address Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-credit-card" />
					<span>Billing Info</span>
				</a>
			</div>

			<div class="columns small-3 text-center">
				<a class="status disabled">
					<i class="fi-torso" />
					<span>Review</span>
				</a>
			</div>
		</div>
		<div class="current"></div>
	</div>
</div>