<div class="row">
	<div class="columns small-12 medium-6">
		<h5>Products</h5>
		<div class="products">

		</div>
	</div>
	<div class="columns small-12 medium-6">
		<h5>Delivery Information</h5>

		<p>
			<%= user.get('first_name') + " " + user.get('last_name') %>
			<a class="edit user">Edit</a>
		</p>

		<p>
			<%= address.get('street') + ", " + address.get('zipcode') %>
			<a class="edit address">Edit</a>
		</p>

		<h5>Billing Info</h5>
		<p>
			XXXX XXXX XXXX <%= card.get('last_four') %>
			<a class="edit billing">Edit</a>
		</p>
	</div>
</div>

<div class="row">
	<div class="num-products"><%= number %> Items</div>
	<div class="divider"></div>
	<div class="totals">
		<div class="clearfix total">
			<span class="left">Subtotal</span>
			<span class="right subtotal">$<%= subtotal() %></span>
		</div>
		<div class="clearfix total">
			<span class="left">Tax</span>
			<span class="right">$0.00</span>
		</div>
		<div class="clearfix total">
			<span class="left">Delivery Fee</span>
			<span class="right">$0.00</span>
		</div>
		<div class="clearfix total">
			<strong>
				<span class="left">Total</span>
				<span class="right">$0.00</span>
			</strong>
		</div>
	</div>
</div>

<textarea class="note" placeholder="Additional notes for apartment number, etc"></textarea>

<div class="row">
	<fieldset class="large-6 columns">
		<legend>I agree to the <a>terms and conditions</a> of using Aqua Vitae.</legend>
		<input type="checkbox" name="terms" id="terms" required><label for="terms">I agree</label>
	</fieldset>
</div>

<button class="button order">Request Order</button>
<p>Please note that your order will only be delivered if our licensed retail partner (vendor) accepts your Order Request. AValcohol has no say in the acceptance of your order; it is up to this vendor to accept or deny your request. Either way, we will let you know the status of your order as soon as the vendor makes their decision!</p>