.login {
	background-color: $red;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	h3 {
		text-align: center;
		color: white;
		padding: 2rem;
	}

	.login-container {
		background: white;
		padding: 3rem 3rem 1rem;
		float: none !important;
		-webkit-box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.1);
		-webkit-border-radius: $button-radius;
		-moz-border-radius: $button-radius;
		border-radius: $button-radius;

		a {
			font-size: 0.75rem;
		}

		.error {
			margin-top: -1rem; // for showing the errors
		}
	}
}