.top-bar {
  height: $headerHeight;
  background-color: white;

  .logo {
	height: 50px;
	margin: 10px;
  }

  .top-bar-section {
	ul {
	  line-height: $headerHeight;

	  li {
		background: transparent;
		cursor: pointer;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bolder;
		margin-right: 1rem;
	  }
	}

	a {
	  margin-top: .5rem;
	  margin-right: 1rem;
	}
  }
}
