.top-bar {
	height: $headerHeight;
	background-color: white;

	.logo {
		height: 50px;
		margin: 10px;
	}

	.top-bar-section {
		ul {
			line-height: $headerHeight;

			li {
				background: transparent;
				margin-right: 25px;
				cursor: pointer;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: bolder;
			}
		}
	}
}
