.top-bar {
	height: $headerHeight;
	background-color: white;

	.logo {
		height: 60px;
		margin: 20px;
	}

	.top-bar-section {
		ul {
			line-height: $headerHeight;

			li {
				background: transparent;
				margin-right: 25px;
				cursor: pointer;
			}
		}
	}
}
