.slick-slider {
	margin-bottom: 0;
}

.slide {
	position: relative;
	height: 80%;

	.roww {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); // to do: cross platform and isshh

		h1 {
			color: white;
			font-size: 62px;
    		letter-spacing: -4px;

			span {
				font-size: 74px;
				text-transform: uppercase;
				color: $red;
				font-weight: 900;
			}
		}

		p {
			border-radius: 20px;
			font-size: 14px;
			color: white;
		}
	}

	img {
		height: 100%;
		width: 100%;
	}
}

.sections {
	h2.title {
		padding-top: 6rem;
	}

	.subheader {
		 padding-bottom: 4rem;
	}

	// column title
	h4 {
		font-weight: bold;
		margin-top: 2rem;
	}

	h4, p {
		font-size: 1rem;
	}

	i {
		font-size: 96px;
		color: $red;
		text-shadow: 0px 4px 0px $dark-text-color;
	}

	.customers {
		background-color: $red;

		p {
			color: $light-text-color;
		}

		i {
			color: white;
			text-shadow: 0px 4px 0px $light-text-color;
		}

		h2.title {
			padding-bottom: 4rem;
		}

		h4, h2.title {
			color: white;
		}
	}

	.retailers {
		background-image: url("../img/square_bg.png");
		background-repeat: repeat;
	}


}
