// utils: should be moved out of here.
.fullWidth {
	width: 100%;
	margin: auto;
	max-width: initial;
}

// should be moved to header.scss to be component based
.top-bar {
	background: transparent;
	z-index: 100;
	position: fixed;

	.logo {
		height: 60px;
		margin: 20px;
	}
}

.alcohol-delivered {
	.row {
		position: absolute;
		padding-top: 300px;

		h1 {
			color: white;
			font-size: 62px;
    		letter-spacing: -5px;
			text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); // to do: cross platform and isshh
		}
	}
}
