<h1>All Orders</h1>
<div class="row collapse">
	<div class="columns small-12 medium-6">
		<div class="panel">
			<h5 class="subtitle">Searchable Keys:</h5>
			If you only want to search on a specific field, you may do so from the following keys: <i>id, user.email, user.profile.last_name</i>
		</div>
	</div>
	<div class="columns small-12 medium-6">
		<div class="row collapse">
			<div class="columns small-10">
				<div class="search"></div>
			</div>
			<div class="columns small-2">
				<a class="submit-search button postfix">Go</input>
			</div>
		</div>
	</div>
</div>

<div class="filter"></div>
<div class="grid"></div>
<div class="paginator"></div>