<h1>Stats</h1>
<p>refresh to update. don't rely on this to be perfect, not tested and it'll test itself in due time</p>
<div class="columns small-12 medium-6 small-3">
	<div class="callout">
		<h5>Total Sales</h5>
		<p><%= total_sales %></p>
	</div>
</div>

<div class="columns small-12 medium-6 small-3">
	<div class="callout">
		<h5>Sales Today</h5>
		<p><%= sales_today %></p>
	</div>
</div>

<div class="columns small-12 medium-6 small-3">
	<div class="callout">
		<h5>Average Sale Amount</h5>
		<p>$<%= average_sale_amount %></p>
	</div>
</div>

<div class="columns small-12 medium-6 small-3">
	<div class="callout">
		<h5>Total Aggregated Sales Amount</h5>
		<p>$<%= total_aggregated_sales_amount %></p>
	</div>
</div>

will put graphs of daily sales and stuff down here. let me know what you need when you need it.