<div class="top-bar-title">
	<button class="menu-icon"></button>
	<a href="#">
		<img class="logo" src="/img/header-logo.png" width="200px" />
	</a>
	<span>Alpha</span>
</div>
<div class="top-bar-right">
	<span>Store</span>
	<span class="switch tiny">
	<input class="switch-input site-status" id="yes-no" type="checkbox" name="exampleSwitch">
	<label class="switch-paddle" for="yes-no">
		<span class="switch-active" aria-hidden="true">On</span>
		<span class="switch-inactive" aria-hidden="true">Off</span>
	</label>
</span>
</div>