<div class="row">
	<div class="columns small-12 header">
		<div class="title">Order Detail View</div>
	</div>
	<div class="columns small-12">
		<div class="main-content">
			<div class="order">
				<div class="row user-info">
					<div class="columns small-3">
						<span class="label">Name</span> <span><%= userName %></span>
					</div>
					<div class="columns small-3">
						<span class="label">DOB</span> <span><%= dob %></span>
					</div>
					<div class="columns small-3">
						<span class="label">Past Orders</span> <span class="coming-soon label">Coming Soon!</span>
					</div>
					<div class="columns small-3">
						<span class="label">Order Total<%= vendorOrderTotal %></span> <span class="coming-soon label">Coming Soon!</span>
					</div>
				</div>

				<div class="row address-info">
					<div class="columns small-12">
						<span>Deliver To:</span>
						<span><%= address %></span>
					</div>
				</div>

				<div class="products">
					<!-- populated in child view-->
				</div>

				<div class="row note">
					<span class="label">Order Note</span>
					<div><%= note %></div>
				</div>

				<div class="row footer">
					<div class="columns small-12">
						<span class="label">Order Number</span> <span><%= orderNumber %></span>
						<span class="label">Time Placed</span> <span><%= timePlaced %></span>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="columns small-12">
		<div class="actions">
			<img src="<%= photoData %>" />
			<a class="show-picture-and-signature">Show Picture and Signature</a>
		</div>
	</div>
</div>