<div class="icon active stats">
	<i class="fi-clipboard-notes"></i>
	<p>Stats</p>
</div>
<div class="icon active ready">
	<i class="fi-clipboard-notes"></i>
	<p>Ready Orders</p>
</div>
<div class="icon out-for-delivery">
	<i class="fi-clipboard-notes"></i>
	<p>Out For Delivery</p>
</div>
<div class="icon all-orders">
	<i class="fi-clipboard-notes"></i>
	<p>All Orders</p>
</div>
<div class="icon vendor">
	<i class="fi-clipboard-notes"></i>
	<p>Vendor Management</p>
</div>
<div class="icon factory">
	<i class="fi-print"></i>
	<p>Factory</p>
</div>