.checkout {
	background-color: $light-text-color;
	padding: 1rem;

	h1 {
		text-align: center;
		font-size: 2rem;
	}

	.callout {
		margin-top: 1rem;
		.button {
			margin-bottom: 0;
			margin-left: 1rem;
		}
	}

	&-wrapper {
		background-color: white;
		padding: 0;
		-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
		box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);

		.status-area {
			width: 100%;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-bottom: 2px solid $light-text-color;

			a.status {
				font-size: .75rem;

				&.active {
					display: inline-block;
					padding: 0 0.5rem;
					background-color: lighten($light-gray, 5);
					border: 1px solid $light-gray;
					border-radius: 5px;
				}

				&.disabled {
					color: $light-text-color;
					&:hover {
						cursor: default;
					}
				}

				i, span {
					vertical-align: middle;
				}

				i {
					padding-right: rem-calc(10);
					font-size: rem-calc(24);
				}
			}
		}

		.current {
			padding: 1rem;

			fieldset {
				margin-bottom: 0;
				margin-top: 0;
			}

			.loading {
				// to account for padding of container
				width: calc(100% - 2rem);
				height: calc(100% - 5rem);
			}
		}
	}
}

.order-review-view {
	h2 {
		font-size: 1.25rem;
	}

	.products {
		max-height: 400px;
		overflow-y: auto;
	}

	.totals {
		color: $dark-gray;

		.total {
			padding: 0.25rem;
			font-size: 0.85rem;
		}

		.total-amount-charged {
			color: $dark-text-color;
			text-transform: uppercase;

			.divider {
				padding-top: 0.5rem;
				width: 40%;
				border-top: 2px solid $medium-gray;
			}
		}
	}

	.edit {
		color: $light-gray;
		margin-left: 1rem;

		&:hover {
			color: $medium-gray;
		}
	}
}