.sections {

	.begin {
		background-color: $red;

		.logo {
			height: 100%;

			@include breakpoint(small only) {
				height: 60%;
			}
		}

		.info {
			margin-top: 4rem;

			h1 {
				font-weight: bolder;
				text-transform: uppercase;
				color: white;
				line-height: 5rem;

				span {
					display: block;
				}

				.top {
					font-size: 4rem;
				}

				.bottom {
					font-size: 6rem;
					margin-bottom: 5rem;
				}
			}

			h2 {
				color: $yellow;
				text-transform: uppercase;
			}

			.button {
				margin-top: 2rem;
			}
		}
	}
}